# Ignore temporary build directories created by _build-bib
_build-bib.*

# Ignore build logs
*.log

# Ignore local output directories (keep committed outputs explicit)
output/previous-built-iso/
cosign.key
_build_*
output
_build-*/**
