UI vesamenu.c32
DEFAULT install
PROMPT 0
TIMEOUT 50

LABEL install
  MENU LABEL Install Kyth
  KERNEL /images/pxeboot/vmlinuz
  APPEND initrd=/images/pxeboot/initrd.img inst.stage2=hd:LABEL=KYTH_ISO quiet

LABEL test
  MENU LABEL Test this media & install Kyth
  KERNEL /images/pxeboot/vmlinuz
  APPEND initrd=/images/pxeboot/initrd.img inst.stage2=hd:LABEL=KYTH_ISO inst.text quiet
