[Desktop Entry]
Version=1.0
Name=KythOS Helper
Comment=Helper and settings for KythOS
Exec=/usr/bin/kyth-welcome
Icon=kyth
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=kyth;helper;branch;update;settings;
StartupNotify=true
StartupWMClass=kyth-welcome
