[Desktop Entry]
Version=1.0
Name=Kyth Helper
Comment=Helper and settings for Kyth
Exec=/usr/local/bin/kyth-welcome
Icon=kyth
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=kyth;helper;branch;update;settings;
StartupNotify=true
StartupWMClass=kyth-welcome
