# Default OpenSSL settings and configuration file for kmodgenca
# shell-script.
#
[ req ]
default_bits                    = 4096
distinguished_name              = req_distinguished_name
prompt                          = no
utf8                            = yes
string_mask                     = utf8only
x509_extensions                 = req_exts

[ req_distinguished_name ]
# Values settings
#
0.organizationName              = aurora
organizationalUnitName          = aurora
emailAddress                    = akmods@aurora
#emailAddress_max                = 64
localityName                    = None
stateOrProvinceName             = None
countryName                     = US
#countryName_min                 = 2
#countryName_max                 = 2
commonName                      = aurora_1772753289_357b7410
#commonName_max                  = 64

# Default values
#
#0.organizationName_default      = akmods local
#organizationalUnitName_default  = akmods
#emailAddress_default            = akmods@localhost.localdomain
#localityName_default            = None
#stateOrProvinceName_default     = None
#countryName_default             = XX
#commonName_default              = akmods local signing CA

[ req_exts ]
basicConstraints                = critical,CA:FALSE
keyUsage                        = digitalSignature
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid
