set timeout=50
set default=0

menuentry "Install Kyth" {
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=KYTH_ISO quiet
    initrdefi /images/pxeboot/initrd.img
}

menuentry "Test this media & install Kyth" {
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=KYTH_ISO inst.text quiet
    initrdefi /images/pxeboot/initrd.img
}
